# General system
.DS_Store
*.tar.gz
*.tgz
*.zip

# Project
.vagrant

# Librarian/RVM/Bundler
cookbooks/
tmp/
.bundle/

# knife-solo quirk
nodes/jenkins-*.json
data_bags/users/*
!data_bags/users/patcon.json
roles/config.yml
